body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

div.subtitle p{
    margin-top: 8px;
    margin-bottom: 12px;
    font-weight: 300 !important;
}

#author-title {
    text-transform: uppercase;
    margin-top: 12px;
    font-size: 14px;
    opacity: .8;
    font-weight: 400
}

#authors_container {
    margin:12px 0px 12px 0px;
}

#authors_container p{
    margin-bottom:8px;
}